	<div class="mobile-menu-left-overlay"></div>
	<nav class="side-menu side-menu-big-icon">
	    <ul class="side-menu-list">
	        <li class="opened">
	            <a href="{{ path('back') }}">
	                <i class="font-icon font-icon-home"></i>
	                <span class="lbl"></span>
	            </a>
	        </li>
	        <li class="with-sub">
	            <span>
	                <i class="font-icon font-icon-cart"></i>
	                <span class="lbl">Produits</span>
	            </span>
	            <ul>
	                <li><a href="{{ path('productLines') }}"><span class="lbl">Gammes</span></a></li>
	                <li><a href="{{ path('productSeries') }}"><span class="lbl">Séries</span></a></li>
	                <li><a href="{{ path('products') }}"><span class="lbl">Produits</span></a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="{{ path('catalogs') }}">
	                <i class="font-icon font-icon-doc"></i>
	                <span class="lbl">Catalogues</span>
	            </a>
	        </li>
	        <li class="with-sub">
	            <span>
	                <i class="font-icon font-icon-page"></i>
	                <span class="lbl">Pages</span>
	            </span>
	            <ul>
	                <li><a href="{{ path('presentation') }}"><span class="lbl">Présentation</span></a></li>
	                <li><a href="{{ path('maitrise') }}"><span class="lbl">Maitrise et engagement</span></a></li>
	                <li><a href="{{ path('quality') }}"><span class="lbl">Qualité</span></a></li>
	                <li><a href="{{ path('financialData') }}"><span class="lbl">Données financières</span></a></li>
	            </ul>
	        </li>
	        <li class="with-sub">
	            <span>
	                <i class="font-icon font-icon-question"></i>
	                <span class="lbl">Aides et conseils</span>
	            </span>
	            <ul>
	                <li><a href=""><span class="lbl">FAQ</span></a></li>
	                <li><a href=""><span class="lbl">Videos</span></a></li>
	                <li><a href=""><span class="lbl">Articles</span></a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="">
	                <i class="font-icon font-icon-case-2"></i>
	                <span class="lbl">Références</span>
	            </a>
	        </li>
	        <li class="with-sub">
	            <span>
	                <i class="font-icon font-icon-calend"></i>
	                <span class="lbl">News</span>
	            </span>
	            <ul>
	                <li><a href=""><span class="lbl">Feedback</span></a></li>
	                <li><a href=""><span class="lbl">FAQ</span></a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="">
	                <i class="font-icon font-icon-mail"></i>
	                <span class="lbl">Contact</span>
	            </a>
	        </li>
	    </ul>
	</nav><!--.side-menu-->